/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/style.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
#app {
  background: #fefefe;
  color: #4b4c4d;
  display: grid;
  font: 900 3rem Jua;   
  height: 100vh;
  margin: 0;
}

.box {
  display: grid;
  grid-gap: 10px;
  gap: 10px;
  margin: auto;
  place-items: center;
}

.gif {
  height: 400px;
}

.btns {
  display: flex;
  gap: 40px;
  width: 60%;
}

.yes {
  margin-right: auto;
}

.no {
  transition: .4s all;
}

button {
  background: #59c9e8;
  border: none;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font: 900 2rem Jua;   
  padding: 15px 30px;
}

